html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.design_body{
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMTM3MzM3NDE5MV5BMl5BanBnXkFtZTcwNDE5MTUxNA@@._V1_FMjpg_UX1000_.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
$color_background: rgba(0, 0, 0, 0.7);
.design_div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  position: relative;
  &__element{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(0.4vw + 0.4em);
    &--floating{
      background-color: rgba(0, 0, 0, 0.5);
      width: 12vw;
      height: 12vw;
      max-width: 50px;
      max-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 15px;
      top: 15vh;
    }
  }
}
.design_header{
  width: 100%;
  display: flex;
  background-color: $color_background;
  align-items: center;
  justify-content: space-between;
  &__image{
    width: 7%;
  }
  &__div{
    display: flex;
    align-items: center;
    justify-content: center;
    &__i{
      font-size: large;
      margin-right: 1vw;
    }
  }
}
.design_bottom{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
  &__movie{
    width: 32%;
    height: 93%;   
    position: absolute;
    margin-bottom: 1.5%;
    background-position: center;
    &--movie2{
      background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/950/public/media/image/2016/11/matrix.jpg?itok=y_D1-7f-');
      background-repeat: no-repeat;
      background-size: cover;
      left: 1vw;
      bottom: 0.1vh;
    }    
    &--movie3{
      background-image: url('https://i.pinimg.com/236x/72/72/c0/7272c0f1f155d14967db9154704cd304--mr-nobody-minimal.jpg');
      background-repeat: no-repeat;
      background-size: cover;      
      bottom: 0.1vh;
      left: 42%;
    }
    &--movie4{
      background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/%22A_Random_Encounter%22_UK_Movie_Poster.jpg/220px-%22A_Random_Encounter%22_UK_Movie_Poster.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      right: -15%;
      bottom: 0.1vh;
    }
    &__element--floating{
      background-color: rgba(0, 0, 0, 0.5);
      width: 10vw;
      height: 10vw;
      max-width: 40px;
      max-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 3%;
      top: 4%;
      color: white;
      font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: calc(0.4vw + 0.4em);
    }
  }
  &__editbtn{
    position: relative;
    font-size: x-large;
    color: #444444;
    background-color: white;
    top: 25%;
    left: 42%;
    width: 12vw;
    height: 12vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .design_body{
    width: 95vw;
  }
}
@media (max-width: 410px) {
  .design_body{
    height: 80vh;
    margin-bottom: 20vh
  }
  .design_bottom__movie{
    height: 80%;
  }
}